{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/chat-css.css' %}" />
    <title>Test-Feelings</title>
  </head>
  <body>
    <main class="main">
      {{person.firstName}}
      <div class="content">
        {% if predict is None %}
        <div class="question">
          <small>{{person.firstName}}</small>
          <p>Olá, eu</p>
          <small>11:56</small>
        </div>
        {% endif %}
        <!---->
        {% for message in predict %}
        <div class="question">
          <strong><small>You</small></strong>
          <p>{{message.phrase}}</p>
          <small>11:56</small>
        </div>

        <div class="answer">
          <strong><small>System</small></strong>
          <p>{{message.answer}}</p>
          <small>11:56</small>
        </div>
        {% endfor %}
      </div>
      <div class="ask">
        <form action="" method="post">
          <input type="text" name="question" placeholder="Tell me how do you feeling" />
        </form>
      </div>
    </main>
  </body>
</html>
