{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/chat-css.css' %}" />
    <title>Test-Feelings</title>
  </head>
  <body>
    <main class="main">
      <div class="content">
        <div class="question">
          <small>{{person.firstName}}</small>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus odio voluptatem facere ut similique. Eveniet
            dignissimos ab, recusandae maxime, inventore dolorum rerum veniam quaerat ut, nihil perspiciatis ratione nisi
            pariatur.
          </p>
          <small>11:56</small>
        </div>

        <div class="answer">
          <small>System</small>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus odio voluptatem facere ut similique. Eveniet
            dignissimos ab, recusandae maxime, inventore dolorum rerum veniam quaerat ut, nihil perspiciatis ratione nisi
            pariatur.
          </p>
          <small>11:56</small>
        </div>
      </div>
      <div class="ask">
        <form action="" method="post">
          <input type="text" name="question" placeholder="Do your question" />
        </form>
      </div>
    </main>
  </body>
</html>
